:root {
  background-color: #202124;
}

.app {
  display: flex;
  flex-direction: column;
}

.app__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 6vh;
  width: 100%;
  /* box-shadow: 0 1px 0 0 rgb(189, 189, 189); */
}

.about {
  transform: translateX(80vw);
  width: 8vw;
}
