:root {
  background-color: #202124;
}

.app {
  display: flex;
  flex-direction: column;
}

.app__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8vh;
  width: 100%;
  /* box-shadow: 0 1px 0 0 rgb(189, 189, 189); */
}

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  transform: translateX(68vw);
  width: 30vw;
  height: 8vh;
}
